/*  common classes  */
h1{
    font-family: Bebas Neue;
    font-size: 80px;
    margin-bottom: 40px;
    line-height: 80px;
}
.word-color{
    color: #FF8367;
}
p{
    color: #6C6C6C;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    padding-bottom: 40px;
}
.buttons{
    text-decoration: none;
    background-color: orange;
    border-radius: 6px;
    background-image: linear-gradient(180deg, #F55555, #FC8070); /*F56161 #FC7762*/
    padding: 20px 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.half-area{
    width: 40%;
    padding-left: 135px;
    padding-top: 50px;
    float: left;
}


/*  top section start  */
.first-image{
    width: 620px;
    height: 613px;
    position: relative;
    bottom: 30px;
}


/*  second section start  */
.second-image{
    position: relative;
    left: 123px;
    bottom: 200px;
    width: 476.26px;
    height: 583.51px;
}
.second-button{
    padding: 20px 25px;
}


/*  third section start  */
.third-section{
    background-color: #F8F9FC;
    padding: 100px;
    margin-bottom: 100px;
}
.third-section-heading{
    text-align: center;
    font-size: 48px;
    line-height: 48px;
}
.third-section-every-part{
    width: 420px;
    height: 454px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 30px;
    margin-left: 70px;
    display: inline-block;
}
.third-section-images{
    width: 100%;
}
h3{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}


/*  fourth section start  */
.fourth-section-div{
    background-image: url("image/chat-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin-left: 15%;
    margin-bottom: 200px;
    height: 325px;
    width: 70%;
    padding-top: 30px;
    position: relative;
}
.fourth-section-div h1{
    color: white;
    margin-left: 8%;
    margin-top: 8%;
    font-weight: inherit;
}
.fourth-section-div a{
    position: absolute;
    right: 10%;
    top: 40%;
}
.third-button{
    padding: 30px 50px;
    font-size: 20px;
    border-radius: 10px;
}

/*  footer part start  */
footer{
    position: relative;
}
footer p{
    text-align: center;
    margin: 0;
    padding: 0;
}
footer .footer-pera{
    font-weight: inherit;
    font-size: 36px;
    line-height: 24px;
    font-family: Bebas Neue;
    margin-bottom: 30px;

}
footer #website-name{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    text-transform: lowercase;
    color: black;
}
.footer-image{
    display: inline-block;
    height: 45px;
    width: 45px;
    padding: 30px 0px 0px 30px;
    margin-bottom: 100px;
}
.footer-image-div{
    position: absolute;
    left: 43%;
}


